.home__wrapper-big {
    width: 100%;
    min-height: 100vh;
}

.home__wrapper {
    display: none;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.home__header {
    width: 95%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.text__header {
    text-transform: capitalize;
}

.home__header__buttons {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.button__nav {
    background-color: transparent;
    border: none;
    font-size: 35px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}


.button__home {}

.button__character {}

.button__settings {}

.horizontal__line {
    width: 100%;
    border: 2px solid black;
}

.main__pages {
    width: 100%;
    height: 100%;
}

.home__main {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.start__battle {
    padding: 20px 40px;
    font-size: 24px;
    cursor: pointer;
}